html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
    position: fixed;
	  color: #151515;
    font-family: 'Ubuntu', sans-serif;
}
input[type=checkbox] {
    cursor: pointer;
    outline: none;
}
.button5 {background-color: #555555;} 
#overlays, #connecting {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}
#connecting {
    z-index: 100;
}
#connecting-content {
    width: 350px;
    background-color: #fff;
    margin: 1.3% auto;
    border-radius: 15px;
    padding: 5px 15px;
}
#title {
    padding: 5px;
    margin: 0px;
    color: #fff;
}

#nick {
    width: 100%;
    color: #fff;
    border-bottom: 2px #fff solid;
    border-top: 0px #fff;
    border-left: 0px #fff;
    border-right: 0px #fff;
    background-color: rgba(0, 0, 255, 0);
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0;
    height: 40px;
    display: inline;
    shadow: none;
    margin-right: 3%;
}

#nick:focus::placeholder {
    color:#9942e6;
}
#nick::placeholder {
    color:#fff;
}
#nick:focus {
    color:#fff;
    border-bottom: 2px #9942e6 solid;
    background-color:rgba(0, 0, 255, 0);
    outline:none;
    box-shadow:none;
    border-radius:0px;
    padding:0;
}
#skin {
    width:33%;
    text-align:left;
    color:#fff;
    border-bottom: 2px #fff solid;
    border-top: 0px #fff;
    border-left: 0px #fff;
    border-right: 0px #fff;
    background-color:rgba(0, 0, 255, 0);
    outline:none;
    box-shadow:none;
    border-radius:0px;
    height:40px;
    display:inline;
    shadow: none;
    display: inline;
    padding:0;
}
#skin:focus::placeholder {
    color:#9942e6;
}
#skin::placeholder {
    color:#fff;
}
#skin:focus {
    border-bottom: 2px #9942e6 solid;
    background-color:rgba(0, 0, 255, 0);
    outline:none;
    box-shadow:none;
    border-radius:0px;
    padding:0;
}
#gamemode {
    width: 100%;
    background-color:#27292d;
    color:white;
    border: #27292d;
    height:0px;
    cursor:pointer;
    display:none;
}
#helloDialog {
    width: 400px;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 background: #0199d9;
  }
#midPanel {
    width: 400px;
    background-color: #212121;
	  margin: 20px auto;
    padding: 0px 15px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:400px;
    border-radius:2px;
   
}


#leftPanel {
	width: 300px;
	margin: 20px auto;
	border-radius:2px;
  padding: 10px 0px 10px 0px;
	position: absolute;
	top: 50%;
	left: -39.5%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  background-color:#212121;
  color:#fff;
  height:400px;
}
 
#rightPanel {
	width: 300px;
	margin: 20px auto;
	border-radius:2px;
	padding:0;
	position: absolute;
	top: 50%;
	right: -64.4%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  background-color:#212121;
  height:400px;
}
#chat_textbox {
    transition: all .5s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: rgba(0, 0, 0, .2);
    border: 0px;
    outline: none;
    color: #fff;
    height: 30px;
    text-indent: 12px;
    left: 10px;
    width: 300px;
    font-family: "Ubuntu";
}
#chat_textbox:focus {
    background: rgba(0, 0, 0, .5);
}
#footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}
#play-btn {
    width: 49%;
    margin-bottom: 10px;
    margin-top:3px;
    background-color:#00e676;
    border:#00e676 2px solid;
    color:#151515;
    height:15%;
    outline: none;
    cursor: pointer;
} 
#play-btn:active {
    width: 45%;
    margin-bottom: 10px;
    margin-top:6.5px;
    background-color:#00e676;
    border:#00e676 2px solid;
    color:#151515;
    height:13%;
    margin-left: 5px;
    outline: none;
} 
#spectate-btn {
    width: 49%;
    float: right;
    top: 0;
    color:#151515;
    background-color:#42ade6;
    border:#42ade6 2px solid;
    height:15%;
    margin-top:3px;
    outline: none;
}
#spectate-btn:active {
    width: 45%;
    margin-bottom: 10px;
    margin-top:6.5px;
    background-color:#42ade6;
    border:#42ade6 2px solid;
    color:#151515;
    height:13%;
    margin-right: 5px;
    outline: none;
} 
#play-btn, #spectate-button {
    display: inline;
}
#gallery-btn {
    width: 130px;
    top: 0;
    color:#fff;
    background-color:#9942e6;
    border:#7A26C4 7px solid;
    height:130px;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    padding-top:32px;
    padding-bottom:32px;
    padding-left:7.5px;
    font-size:30px;
    border-radius:1000px;
    margin-bottom:5%;
    outline: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom:70px;
}
#submit-skin {
    color:#fff;
    background-color:#202020;
    margin-top:0%;
    border:#202020 2px solid;
    width:50%;
    margin-left:0%;
    height:13%;
    outline: none;
}
#more-games {
    color:#fff;
    background-color:#151515;
    margin-top:44.5%;
    border:#151515 2px solid;
    width:50%;
    margin-left:0%;
    border-bottom-right-radius:2px;
    height:46.5px;
    outline: none;
}
#submit-skin:hover {
    color:#fff;
    background-color:#2E2E2E;
    margin-top:0%;
    border:#2E2E2E 2px solid;
    width:50%;
    margin-left:0%;
    height:13%;
    outline: none;
}
#more-games:hover {
    color:#fff;
    background-color:#2E2E2E;
    border:#2E2E2E 2px solid;
    width:50%;
    margin-left:0%;
    border-bottom-right-radius:2px;
    outline: none;
}

#role-form {
    color:#fff;
    background-color:#151515;
    margin-top:44.5%;
    border:#151515 2px solid;
    width:50%;
    margin-left:0%;
    border-bottom-left-radius:2px;
    height:46.5px;
    outline: none;
}
#clan-register {
    color:#fff;
    background-color:#202020;
    margin-top:47.7%;
    border:#202020 2px solid;
    width:50%;
    margin-left:0%;
    height:13%;
    outline: none;
}
#role-form:hover {
    color:#fff;
    background-color:#2e2e2e;
    border:#2E2E2E 2px solid;
    width:50%;
    margin-left:0%;
    outline: none;
}
#clan-register:hover {
    color:#fff;
    background-color:#2E2E2E;
    margin-top:47.7%;
    border:#2E2E2E 2px solid;
    width:50%;
    margin-left:0%;
    height:13%;
    outline: none;
}
#serv-ultra {
    background-color:#2e2e2e;
    border: 0px #2e2e2e;
    color:#fff;
    border-radius:2px;
    padding-bottom:3%;
    padding-top:3%;
    outline:none;
    width:30%;
    font-size:12px;
    height:95px;
    margin-right:2.5px;
    margin-bottom:5px;
}
#serv-ultra:hover {
    background: linear-gradient(to right, #8938f2, #0066ff);
}
#serv-bots {
    background-color:#2e2e2e;
    border: 0px #2e2e2e;
    color:#fff;
    border-radius:2px;
    padding-bottom:3%;
    padding-top:3%;
    outline:none;
    width:30%;
    font-size:12px;
    height:95px;
    margin-left:2.5px;
}
#serv-bots:hover {
    background: linear-gradient(to right, #4287f5, #42f596);
}
#serv-virus {
    background-color:#2e2e2e;
    border: 0px #2e2e2e;
    color:#fff;
    border-radius:2px;
    padding-bottom:3%;
    padding-top:3%;
    outline:none;
    width:30%;
    font-size:12px;
    height:95px;
    margin-right:2.5px;
}
#serv-virus:hover {
    background: linear-gradient(to right, #ff1900, #f56600);
}
#serv-feed {
    background-color:#2e2e2e;
    border: 0px #2e2e2e;
    color:#fff;
    border-radius:2px;
    padding-bottom:3%;
    padding-top:3%;
    outline:none;
    width:30%;
    font-size:12px;
    height:95px;
    margin-left:2.5px;
    margin-top:5px;
}
#serv-feed:hover {
    background: linear-gradient(to right, #FF4B2B, #FF416C);
}
#bebl {
  color:#9942e6;
}
#io {
  color:#202020;
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: #fff; 
}
#gamemodes {
    color:#fff;
}
#howto {
    color:#fff;
}
#cus {
    color:#fff;
}
#touchpad, #touchCircle, #splitBtn, #ejectBtn {
    position: fixed;
}
#touchpad, #splitBtn, #ejectBtn {
    z-index: 2;
}
#touchpad {
    background: #000;
    opacity: 0.3;
    width: 20vw;
    height: 20vh;
    left: 0;
    bottom: 0;
}
#touchCircle {
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background: #f00;
    opacity: 0.3;
    z-index: 3;
}
#splitBtn, #ejectBtn {
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    background: #777;
    opacity: 0.5;
}
#splitBtn {
    right: 18vw;
    bottom: 0;
}
#ejectBtn {
    bottom: 18vw;
    right: 0;
}
#playSounds:checked + #soundsVolume {
    display: inline;
}
#soundsVolume {
    display: none;
    width: 100px;
    height: 18px;
    padding: 0; /* IE fix */
    vertical-align: middle;
}
#settings label {
    margin-right: 10px;
    user-select: none;
    color:#fff;
}
.header {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 6rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*-webkit-animation: hue 10s infinite linear;*/
}
input[type="Checkbox"] {
    position: relative;
    width: 30px;
    height: 15px;
    -webkit-appearance: none;
    background: #2E2E2E;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    margin-right: 50%;
}
input:checked[type="Checkbox"] {
    background: #9942e6;
    outline: none;
}
input[type="Checkbox"]::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    outline: none;
}
input:checked[type="Checkbox"]::before {
    left: 50%;
    outline: none;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

